@{
    ViewBag.Title = "FinancialYearCompanyRelation List";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>FinancialYearCompanyRelation List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <button class="btn btn-primary btn-block" type="button" id="add-new-financialYearCompanyRelation">
                            <i class="fas fa-plus"></i> New
                        </button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="financialYearCompanyRelationGrid" class="table table-bordered table-striped w-100">
                            <thead>
                                <tr class="table-header">
                                    <th>Action</th>
                                    <th>Company Name</th>
                                    <th>Financial Year Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function () {
    $("#financialYearCompanyRelationGrid").DataTable({

        //dom: 'lftip',
        "pageLength": 25,
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "bPaginate": true,
        //"bInfo": true,
        //"bRetrieve": true,
        //"bFilter": true,
        //"iDisplayLength": 5,
        //"bSort": true,
        //"aaSorting": [],
        //"order": [],
        //scrollY: "50vh",
        //scrollCollapse: true,

        "ajax": {
            "url": "@Url.Action("GetFinancialYearCompanyRelationList", "FinancialYearCompanyRelation")",
            "type": "POST",
            "datatype": "json",
        },
        "columns": [
        /*{ "data": "FinancialYearCompanyRelationId", "name": "FinancialYearCompanyRelation Id" },*/

            {
                "render": function (data, type, full, meta) {
                    return '<div class="action_button">' +
                        '<button type="button" class="border-0 rounded-0 text-success" onclick="javascript: fnEditFinancialYearCompanyRelation(' + full.FinancialYearCompanyRelationId + ')"><i class="far fa-edit"></i></button>' +
                        '<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" onclick="javascript: fnDeleteFinancialYearCompanyRelation(this, ' + full.FinancialYearCompanyRelationId + ')"><i class="fa fa-trash-alt"></i></button>' +
                        '</div>';
                }, "orderable": false
            },
            { "data": "CompanyName", "name": "Company Name" },
            { "data": "FinancialYearName", "name": "Financial Year Name" }
        ],
    });
});

// add new record.
$('#add-new-financialYearCompanyRelation').click(function () {
    AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddFinancialYearCompanyRelation", "FinancialYearCompanyRelation")', 'html', '',
    function (data) {
        $('#modal-financialYearCompanyRelation-master').empty();
        $('#modal-financialYearCompanyRelation-master').html(data).modal('show');
        return false;
    }, null, true, null, false);
});

@*// edit financialYearCompanyRelation
    function fnEditFinancialYearCompanyRelation(financialYearCompanyRelationId) {
        var model = { financialYearCompanyRelationId: financialYearCompanyRelationId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditFinancialYearCompanyRelation", "FinancialYearCompanyRelation")', 'html', model,
        function (data) {
            $('#modal-financialYearCompanyRelation-master').empty();
            $('#modal-financialYearCompanyRelation-master').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }*@
</script>

@{ await Html.RenderPartialAsync("_ConfirmDeleteFinancialYearCompanyRelation"); }

<div id="modal-financialYearCompanyRelation-master" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>
