<div class="modal fade" id="modalConfirmInvoiceMaster" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Back"><i class="fas fa-arrow-left"></i> Back</button>
                <button type="button" class="btn btn-danger" id="delete-invoice-master" title="Delete"><i class="fas fa-trash-alt"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    // remove element button click.
    var _salesInvoiceId = null;
    function fnDeleteInvoiceMaster(element, salesInvoiceId) {
        _salesInvoiceId = salesInvoiceId;
        $(element).attr("data-target", "#modalConfirmInvoiceMaster");

        $('#modalConfirmInvoiceMaster').on('show.bs.modal', function (e) {
            // Pass form reference to modal for submission on yes/ok
            var form = $(e.relatedTarget).closest('form');
            $(this).find('.modal-footer #modalConfirmInvoiceMaster').data('form', form);
        });
    }

    // form confirm (yes/ok) handler, submits form
    $('#modalConfirmInvoiceMaster').find('.modal-footer #delete-invoice-master').on('click', function () {
        var model = { salesInvoiceId: _salesInvoiceId };
        AjaxCommunication.CreateRequest(this.window, 'Post', '@Url.Action("DeleteInvoiceMaster", "SalesInvoice")', '', model,
        function (data) {
            if (data.Result.Status) {
                $('#modalConfirmInvoiceMaster').modal('hide');
                $('#salesInvoiceGrid').DataTable().ajax.reload();
                fnSuccessNotify('Record deleted.');
            }
            else {
                fnDangerNotify('Error occured while processing request.');
            }
        }, null, true, null, false);
    });

</script>
