@*<div class="row mb-3">
        <div class="col-12 text-right">

        </div>
    </div>*@
<div class="row">
    <div class="col-sm-12">
        <table id="purchaseInvoiceTaxMasterGrid" class="table table-bordered table-striped w-100">
            <thead>
                <tr>
                    <th class="no-sort">
                        <button class="btn btn-primary mr-1 pr-1 pl-1 pb-0 pt-0" type="button" id="add-new-tax-master" title="Add New Line">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                    <th>PurchaseInvoiceTaxId</th>
                    <th>PurchaseInvoiceId</th>
                    <th>Sr No</th>
                    <th>Tax Ledger</th>
                    <th>Per / Amount</th>
                    <th>Tax Per Or Amount FC</th>
                    <th>Add or Deduct</th>
                    <th>Tax Amount FC</th>
                    <th>Remark</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#purchaseInvoiceTaxMasterGrid").DataTable({
            "pageLength": 25,
            "paging": false,
            "searching": false,
            "info": false,
            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-4'i><'col-sm-4 text-center'><'col-sm-4'p>>",
            "bPaginate": true,
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetPurchaseInvoiceTaxMasterList", "PurchaseInvoiceTaxMaster", new { purchaseInvoiceId = ViewBag.PurchaseInvoiceId })",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                {
                    "orderable": false,
                    "render": function (data, type, full, meta) {
                        return '<div class="action_button">' +
                            '<button type="button" class="border-0 rounded-0 text-success" title="Edit" onclick="javascript: fnEditInvoiceTaxMaster(' + full.PurchaseInvoiceTaxId + ')"><i class="far fa-edit"></i></button>' +
                            '<button type="button" class="border-0 rounded-0 text-danger" title="Delete" data-toggle="modal" onclick="javascript: fnDeleteInvoiceTaxMaster(this, ' + full.PurchaseInvoiceTaxId + ')"><i class="fa fa-trash-alt"></i></button>' +
                            '</div>';
                    }
                },
                { "data": "PurchaseInvoiceTaxId", "name": "PurchaseInvoiceTaxId", "visible": false },
                { "data": "PurchaseInvoiceId", "name": "PurchaseInvoiceId", "visible": false  },
                { "data": "SrNo", "name": "SrNo" },
                { "data": "TaxLedgerName", "name": "TaxLedgerName" },
                { "data": "TaxPercentageOrAmount", "name": "TaxPercentageOrAmount" },
                { "data": "TaxPerOrAmountFc", "name": "TaxPerOrAmountFc", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "TaxAddOrDeduct", "name": "TaxAddOrDeduct" },
                { "data": "TaxAmountFc", "name": "TaxAmountFc", render: $.fn.dataTable.render.number(',', '.', 2, '')},
                { "data": "Remark", "name": "Remark" },
            ],
        });
    });

     // add new invoice tax master.
    $('#add-new-tax-master').click(function () {
        var model = { purchaseInvoiceId: '@ViewBag.PurchaseInvoiceId' };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddInvoiceTaxMaster", "PurchaseInvoiceTaxMaster")', 'html', model,
        function (data) {
            $('#modal-invoice').empty();
            $('#modal-invoice').html(data).modal('show');
            return false;
        }, null, true, null, false);
    });

    // edit invoice tax master.
    function fnEditInvoiceTaxMaster(purchaseInvoiceTaxId) {
        var model = { purchaseInvoiceTaxId: purchaseInvoiceTaxId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditInvoiceTaxMaster", "PurchaseInvoiceTaxMaster")', 'html', model,
        function (data) {
            $('#modal-invoice').empty();
            $('#modal-invoice').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }
</script>
@{ await Html.RenderPartialAsync("_ConfirmDeleteInvoiceTaxMaster"); }