@{
    ViewBag.Title = "Change Company";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Change Company</h1>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table id="companylistgrid" class="table table-bordered table-striped w-100">
                    <thead>
                        <tr class="table-header">
                            <th>Select</th>
                            @*<th>Company Id</th>*@
                            <th>Company Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#companylistgrid").DataTable({
            "pageLength": 10,
            "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "bPaginate": false,
            "searching": false,
            "bInfo": false,
            "ajax": {
                "url": "@Url.Action("GetCompanyList", "Home")",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        return '<div class="action_button">' +
                            '<button  class="border-0 rounded-0 text-success" type="button" onclick="javascript: fnSelectCompany(' + full.CompanyId + ')"><i class="far fa-check-square"></i></button>' +
                            '</div>';
                    }, "orderable": false, "width": "40px"
                },
                //{ "data": "CompanyId", "name": "Company Id" },
                { "data": "CompanyName", "name": "Company Name" }
            ],
        });
    });

    // choose company.
    function fnSelectCompany(companyId) {
        var model = { companyId: companyId };
        AjaxCommunication.CreateRequest(this.window, 'Post', '@Url.Action("ChooseCommpany", "Home")', '', model,
            function (data) {
                window.location.href = '@Url.Action("Index", "Home")';
        }, null, true, null, false);
    }
</script>
