@{
    ViewData["Title"] = "Home Page";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashbaord</li>
                    </ol>*@
            </div>
        </div>
    </div>
</section>
<a class="dropdown-item" asp-area="Master" asp-controller="City" asp-action="Index">City</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="PaymentVoucher" asp-action="Index">Payment Voucher</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="ReceiptVoucher" asp-action="Index">Receipt Voucher</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="ContraVoucher" asp-action="Index">Contra Voucher</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="JournalVoucher" asp-action="Index">Journal Voucher</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="PurchaseInvoice" asp-action="Index">Purchase Invoice</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="SalesInvoice" asp-action="Index">Sales Invoice</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="CreditNote" asp-action="Index">Credit Note</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="DebitNote" asp-action="Index">Debit Note</a>
<a class="dropdown-item" asp-area="Accounts" asp-controller="AdvanceAdjustment" asp-action="Index">Advance Adjustment</a>