@{
    ViewBag.Title = "Company List";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-9">
                <h1>Company List</h1>
            </div>
            <div class="col-3"   >

                <button class="btn btn-primary btn-block" type="button" id="add-new-company">
                    <i class="fas fa-plus"></i> New
                </button>

            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="companyGrid" class="table table-bordered table-striped w-100">
                                <thead>
                                    <tr class="table-header">
                                        <th>Action</th>
                                        <th>Company Name</th>
                                        <th>Currency Name</th>
                                        <th>Email Address</th>
                                        <th>Website</th>
                                        <th>Phone No</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function () {
    $("#companyGrid").DataTable({

        //dom: 'lftip',
        "pageLength": 25,
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "bPaginate": true,
        //"bInfo": true,
        //"bRetrieve": true,
        //"bFilter": true,
        //"iDisplayLength": 5,
        //"bSort": true,
        //"aaSorting": [],
        //"order": [],
        //scrollY: "50vh",
        //scrollCollapse: true,

        "ajax": {
            "url": "@Url.Action("GetCompanyList", "Company")",
            "type": "POST",
            "datatype": "json",
        },
        "columns": [
            {
                "render": function (data, type, full, meta) {
                    return '<div class="action_button">' +
                        '<button type="button" class="border-0 rounded-0 text-success" onclick="javascript: fnEditCompany(' + full.CompanyId + ')"><span class="fa fa-pencil-alt"></span></button>' +
                        '<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" onclick="javascript: fnDeleteCompany(this, ' + full.CompanyId + ')"><span class="fa fa-trash-alt"></span></button>' +
                        '</div>';
                }, "orderable": false
            },
            { "data": "CompanyName", "name": "Company Name" },
            { "data": "CurrencyName", "name": "Currency Name" },
            { "data": "EmailAddress", "name": "Email Address" },
            { "data": "Website", "name": "Website" },
            { "data": "PhoneNo", "name": "Phone No" }
        ],
    });
});

// add new record.
$('#add-new-company').click(function () {
    AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddCompany", "Company")', 'html', '',
    function (data) {
        $('#modal-company-master').empty();
        $('#modal-company-master').html(data).modal('show');
        return false;
    }, null, true, null, false);
});

// edit company
    function fnEditCompany(companyId) {
        var model = { companyId: companyId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditCompany", "Company")', 'html', model,
        function (data) {
            $('#modal-company-master').empty();
            $('#modal-company-master').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }
</script>

@{ await Html.RenderPartialAsync("_ConfirmDeleteCompany"); }
<div id="modal-company-master" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>
