<div class="modal fade" id="modalConfirmDeleteCity" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title classh4">Confirm Delete</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="modal-header-close" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-delete-city">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    // remove element button click.
    var _cityId = null;
    function fnDeleteCity(element, cityId) {
        _cityId = cityId;
        $(element).attr("data-target", "#modalConfirmDeleteCity");

        $('#modalConfirmDeleteCity').on('show.bs.modal', function (e) {
            // Pass form reference to modal for submission on yes/ok
            var form = $(e.relatedTarget).closest('form');
            $(this).find('.modal-footer #modalConfirmDeleteCity').data('form', form);
        });
    }

    // form confirm (yes/ok) handler, submits form
    $('#modalConfirmDeleteCity').find('.modal-footer #btn-delete-city').on('click', function () {
        var model = { cityId: _cityId };
        AjaxCommunication.CreateRequest(this.window, 'Post', '@Url.Action("DeleteCity", "City")', '', model,
        function (data) {
            if (data.Result.Status) {
                $('#modalConfirmDeleteCity').modal('hide');
                $('#cityGrid').DataTable().ajax.reload();
                fnSuccessNotify('Record deleted.');
            }
            else {
                fnDangerNotify('Error occured while processing request.');
            }
        },
        function (XMLHttpRequest, textStatus, errorThrown) {
            errorCallback(XMLHttpRequest, textStatus, errorThrown);
        }, true, null, false);
    });

</script>
