@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "City List";
}


<div class="row">
    <div class="col-6">
        <h5 class="text-primary">City List</h5>
    </div>
    <div class="col-6 text-right">
        <button type="button" id="add-new-city" class="btn btn-primary"><span class="fa fa-plus-square"></span>&nbsp;Create New City</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <table id="citylistgrid" class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>Action</th>
                    @*<th>City Id</th>*@
                    <th>City Name</th>
                    <th>State Name</th>
                    <th>Country Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
$(document).ready(function () {
    $("#citylistgrid").DataTable({
        //dom: 'lftip',
        "pageLength": 20,
        //"lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "bPaginate": true,
        //"bInfo": true,
        //"bRetrieve": true,
        //"bFilter": true,
        //"iDisplayLength": 5,
        //"bSort": true,
        //"aaSorting": [],
        //"order": [],
        //scrollY: "50vh",
        //scrollCollapse: true,
        "ajax": {
            "url": "@Url.Action("GetCityList", "City")",
            "type": "POST",
            "datatype": "json",
        },
        "columns": [
            {
                "render": function (data, type, full, meta) {
                    return '<div class="action_button">' +
                        '<button type="button" class="border-0 rounded-0" onclick="javascript: fnEditCity(' + full.CityId + ')"><span class="fa fa-pencil-alt"></button>' +
                        '<button type="button" class="border-0 rounded-0" data-toggle="modal" onclick="javascript: fnDeleteCity(this, ' + full.CityId + ')"><span class="fa fa-trash-alt"></span></button>' +
                        '</div>';
                }
            },
            /*{ "data": "CityId", "name": "City Id" },*/
            { "data": "CityName", "name": "City Name" },
            { "data": "StateName", "name": "State Name" },
            { "data": "CountryName", "name": "Country Name" }
            
        ],
    });
});

// add new record.
$('#add-new-city').click(function () {
    AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddCity", "City")', 'html', '',
    function (data) {
        $('#modal-city-master').empty();
        $('#modal-city-master').html(data).modal('show');
        return false;
    }, null, true, null, false);
});

// edit city
    function fnEditCity(cityId) {
        var model = { cityId: cityId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditCity", "City")', 'html', model,
        function (data) {
            $('#modal-city-master').empty();
            $('#modal-city-master').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }
</script>
<div id="modal-city-master" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>
@{ await Html.RenderPartialAsync("_ConfirmDeleteCity"); }