@{ ViewBag.Title = "User List"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/identity/account/register" class="btn btn-primary btn-block"><i class="fas fa-plus"></i> New</a>

                        @*<button class="btn btn-primary btn-block" type="button" id="add-new-user">
                                <i class="fas fa-plus"></i> New
                            </button>*@
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="userGrid" class="table table-bordered table-striped w-100">
                            <thead>
                                <tr class="table-header">
                                    @*<th>User Id</th>*@
                                    <th>Action</th>
                                    <th>Employee Name</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>EmailConfirmed</th>
                                    <th>LockoutEnd</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {

        $("#userGrid").DataTable({
            //dom: 'lftip',
            "pageLength": 25,
            "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "bPaginate": true,
            "scrollX": true,
            //"bInfo": true,
            //"bRetrieve": true,
            //"bFilter": true,
            //"iDisplayLength": 5,
            //"bSort": true,
            //"aaSorting": [],
            //"order": [],
            //scrollY: "50vh",
            //scrollCollapse: true,

            "ajax": {
                "url": "@Url.Action("GetUserList", "User")",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        var button = "";
                        //button = button+
                        //    '<button type="button" class="border-0 rounded-0 text-success" onclick="javascript: fnEditUser(' + full.Id + ');"><i class="far fa-edit"></i></button>';

                        //button = button
                        //    + '<button type="button" class="border-0 rounded-0 text-info" onclick="javascript: fnConfirmEmail(' + full.Id + ');"><i class="fas fa-key"></i></button>';

                        var today = new Date().getTime();
                        var lockout = new Date(full.LockoutEnd).getTime();

                        if (lockout > today) {
                            //user is currently locked
                            button = button
                                    + '<button class="border-0 rounded-0 text-danger" onclick="javascript: fnLockUnlock(' + full.Id + ');" title="Unlock"><i class="fas fa-lock-open"></i></button>';
                        }
                        else {
                            button = button
                                + '<button class="border-0 rounded-0 text-success" onclick="javascript: fnLockUnlock(' + full.Id + ');" title="Lock"><i class="fas fa-lock"></i></button>';
                        }

                        return button;
                    }, "orderable": false
                },
                { "data": "EmployeeName", "name": "EmployeeName" },
                { "data": "UserName", "name": "UserName" },
                { "data": "Email", "name": "Email" },
                {
                    render: function (data, type, full, meta) {
                        if (full.EmailConfirmed == true) {
                            return '<i class="fas fa-check text-success"></i>';
                        } else {
                            return '';
                        }
                    }
                },
                {
                    "data": "LockoutEnd", "name": "LockoutEnd",
                    "render": function (dt) {

                        return dt==null ?"" :moment(dt).format("DD/MMM/YYYY");
                    }
                }

            ],
        });

    });

    // add new record.
    $('#add-new-user').click(function () {
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddUser", "User")', 'html', '',
        function (data) {
            $('#modal-user-master').empty();
            $('#modal-user-master').html(data).modal('show');
            return false;
        }, null, true, null, false);
    });


    function fnLockUnlock(id) {
        var model = { id: id };
        AjaxCommunication.CreateRequest(this.window, 'Post', '@Url.Action("LockUnlock", "User")', '', model,
        function (data) {
            if (data.Result.Status) {
                $('#userGrid').DataTable().ajax.reload();
                $("#userGrid").DataTable().clear().ajax.reload();
                fnSuccessNotify(data.Result.Message);
            }
            else {
                fnDangerNotify(data.Result.Message);
            }
        }, null, true, null, false);
    }

    // edit user
    function fnEditUser(id) {
        window.location.href = '/Identity/Account/Register?userId=' + id;
    }

    //// confirm email
    //function fnConfirmEmail(text) {
    //    //window.open("/Identity/Account/RegisterConfirmation?email=" + id +"&returnUrl=");
    //    alert(text);
    //}

</script>
