@using System.Security.Claims;
@{
    ViewData["Title"] = "User Information";
}



<div class="text-center">
    <br />
    <br />
    <h2 class="text-primary">User Information</h2>
    <br />
    <h2 class="">@User.Identity.Name</h2>
    <h2 class="">@this.User.FindFirst(ClaimTypes.NameIdentifier).Value</h2>

</div>
