@using System.Security.Claims;
@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Profile</h1>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h2 class="">@User.Identity.Name</h2>
                <h2 class="">@this.User.FindFirst(ClaimTypes.NameIdentifier).Value</h2>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
  
</script>

