@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h5>@ViewData["Title"]</h5>
    <p>You have successfully logged out.</p>
</header>
<div class="row">
    <div class="col-sm-12">
        <a id="login-link" class="btn btn-primary btn-block" href="/Identity/Account/Login">Click here to login</a>
    </div>
</div>