
@{ ViewBag.Title = "PDC Report"; }

<section class="content-header p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div id="title" class="col-sm-3 h5">@ViewBag.Title</div>
                    <div id="filterDetails" class="col-sm-9 h6"></div> 
                </div>
            </div>
           
        </div>
    </div>
</section>
<section class="content p-0">
    <div class="container-fluid">
        <input type="hidden" id="SearchFilterModel" />
        <img src="~/images/progress/comingsoon.png" class="img-fluid" alt="Coming Soon">
    </div>
</section>
