@{
    ViewBag.Title = "Form List";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Form List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <button class="btn btn-primary btn-block" type="button" id="add-new-form">
                            <i class="fas fa-plus"></i> New
                        </button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="formGrid" class="table table-bordered table-striped w-100">
                            <thead>
                                <tr class="table-header">
                                    @*<th>Form Id</th>*@
                                    <th>Action</th>
                                    <th>Form Name</th>
                                    <th>Module Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function () {
    $("#formGrid").DataTable({

        //dom: 'lftip',
        "pageLength": 10,
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "bPaginate": true,
        //"bInfo": true,
        //"bRetrieve": true,
        //"bFilter": true,
        //"iDisplayLength": 5,
        //"bSort": true,
        //"aaSorting": [],
        //"order": [],
        //scrollY: "50vh",
        //scrollCollapse: true,

        "ajax": {
            "url": "@Url.Action("GetFormList", "Form")",
            "type": "POST",
            "datatype": "json",
        },
        "columns": [
        /*{ "data": "FormId", "name": "Form Id" },*/

            {
                "render": function (data, type, full, meta) {
                    return '<div class="action_button">' +
                        '<button type="button" class="border-0 rounded-0 text-success" onclick="javascript: fnEditForm(' + full.FormId + ')"><span class="fa fa-pencil-alt"></span></button>' +
                        '<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" onclick="javascript: fnDeleteForm(this, ' + full.FormId + ')"><span class="fa fa-trash-alt"></span></button>' +
                        '</div>';
                }, "orderable": false
            },
            { "data": "FormName", "name": "Form Name" },
            { "data": "ModuleName", "name": "Module Name" }
        ],
    });
});

// add new record.
$('#add-new-form').click(function () {
    AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddForm", "Form")', 'html', '',
    function (data) {
        $('#modal-form-master').empty();
        $('#modal-form-master').html(data).modal('show');
        return false;
    }, null, true, null, false);
});

// edit form
    function fnEditForm(formId) {
        var model = { formId: formId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditForm", "Form")', 'html', model,
        function (data) {
            $('#modal-form-master').empty();
            $('#modal-form-master').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }
</script>

@{ await Html.RenderPartialAsync("_ConfirmDeleteForm"); }
<div id="modal-form-master" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>
