@{
    ViewBag.Title = "Department List";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Department List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <button class="btn btn-primary btn-block" type="button" id="add-new-department">
                            <i class="fas fa-plus"></i> New
                        </button>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="departmentGrid" class="table table-bordered table-striped w-100">
                            <thead>
                                <tr class="table-header">
                                    @*<th>Department Id</th>*@
                                    <th>Action</th>
                                    <th>Department Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function () {
    $("#departmentGrid").DataTable({

        //dom: 'lftip',
        "pageLength": 25,
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "bPaginate": true,
        //"bInfo": true,
        //"bRetrieve": true,
        //"bFilter": true,
        //"iDisplayLength": 5,
        //"bSort": true,
        //"aaSorting": [],
        //"order": [],
        //scrollY: "50vh",
        //scrollCollapse: true,

        "ajax": {
            "url": "@Url.Action("GetDepartmentList", "Department")",
            "type": "POST",
            "datatype": "json",
        },
        "columns": [
        /*{ "data": "DepartmentId", "name": "Department Id" },*/

            {
                "render": function (data, type, full, meta) {
                    return '<div class="action_button">' +
                        '<button type="button" class="border-0 rounded-0 text-success" onclick="javascript: fnEditDepartment(' + full.DepartmentId + ')"><i class="far fa-edit"></i></button>' +
                        '<button type="button" class="border-0 rounded-0 text-danger" data-toggle="modal" onclick="javascript: fnDeleteDepartment(this, ' + full.DepartmentId + ')"><i class="fa fa-trash-alt"></i></button>' +
                        '</div>';
                }, "orderable": false
            },
            { "data": "DepartmentName", "name": "Department Name" }
        ],
    });
});

// add new record.
$('#add-new-department').click(function () {
    AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("AddDepartment", "Department")', 'html', '',
    function (data) {
        $('#modal-department-master').empty();
        $('#modal-department-master').html(data).modal('show');
        return false;
    }, null, true, null, false);
});

// edit department
    function fnEditDepartment(departmentId) {
        var model = { departmentId: departmentId };
        AjaxCommunication.CreateRequest(this.window, 'Get', '@Url.Action("EditDepartment", "Department")', 'html', model,
        function (data) {
            $('#modal-department-master').empty();
            $('#modal-department-master').html(data).modal('show');
            return false;
        }, null, true, null, false);
    }
</script>

@{ await Html.RenderPartialAsync("_ConfirmDeleteDepartment"); }
<div id="modal-department-master" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true"></div>
