
<div class="row">
    <div class="col-sm-12">
        <table id="reportGrid" class="table table-bordered table-striped w-100">
            @*<thead>
                    <tr class="table-header">

                        <th>Voucher Type</th>
                        <th>Voucher No</th>
                        <th>Voucher Date</th>
                        <th>Party Reference No</th>
                        <th>Our Reference No</th>
                        <th>Currency</th>
                        <th>Exchange Rate</th>
                        <th>Credit Amount FC</th>
                        <th>Credit Amount</th>
                        <th>Debit Amount FC</th>
                        <th>Debit Amount</th>
                        <th>Closing Amount</th>
                    </tr>
                </thead>*@
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        fnBindDataTable();
    });


    // search data.
    function fnBindDataTable() {

        var searchFilter = $("#SearchFilterModel").val();

        //console.log('searchFilter');

        //console.log(searchFilter);

        $("#reportGrid").DataTable({
            "destroy": true,
            "pageLength": 25,
            "paging": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "scrollX": true,
            //"dom": "<'row'<'col-sm-12'tr>>" +
            //    "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",
            //'lrtip',
            /*"serverSide": true,*/
            "dom":"Bfrtip",
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    titleAttr: 'Excel',
                    className: 'btn btn-default',
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    filename:"General Ledger",
                    title: "General Ledger Report"
                   
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    titleAttr: 'PDF',
                    className: 'btn btn-default',
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    filename: "General Ledger",
                    title: "General Ledger Report",
                }
            ],
            "ajax": {
                "url": "@Url.Action("GetTransactionList", "GeneralLedger")",
                "type": "POST",
                "datatype": "json",
                "data": {
                    searchFilter: searchFilter
                },
            },
            "columns": [
                { "data": "DocumentType", "name": "DocumentType", "title":"Voucher Type" },
                { "data": "DocumentNo", "name": "DocumentNo", "title": "Voucher No" },
                {
                    "data": "DocumentDate", "name": "DocumentDate", "title": "Voucher Date",
                    "render": function (dt) {
                        return moment(dt).format("DD/MMM/YYYY");
                    }
                },
                { "data": "PartyReferenceNo", "name": "PartyReferenceNo", "title": "Party Reference No"},
                { "data": "OurReferenceNo", "name": "OurReferenceNo", "title": "Other Reference No" },
                { "data": "CurrencyCode", "name": "CurrencyCode", "title": "Currency" },
                { "data": "ExchangeRate", "name": "ExchangeRate", "title": "Exchenge Rate", render: $.fn.dataTable.render.number(',', '.', 6, '') },
                { "data": "CreditAmount_FC", "name": "CreditAmount_FC", "title": "Credit Amount FC", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "CreditAmount", "name": "CreditAmount", "title": "Credit Amount", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "DebitAmount_FC", "name": "DebitAmount_FC", "title": "Debit Amount FC", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "DebitAmount", "name": "DebitAmount", "title": "Debit Amount", render: $.fn.dataTable.render.number(',', '.', 4, '') },
                { "data": "ClosingAmount", "name": "ClosingAmount", "title": "Closing Amount", render: $.fn.dataTable.render.number(',', '.', 4, '') },
            ],
        });


    }

</script>

