
@{ ViewBag.Title = "General Ledger Report"; }

<section class="content-header p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="col-sm-6">
                <div id="buttons" class="float-right">
                    <button type="button" class="btn btn-secondary" id="Back" title="Back" hidden onclick="javascript: fnBackToIndex();">
                        <i class="fas fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content p-0">
    <div class="container-fluid">
        <input type="hidden" id="SearchFilterModel" />
        <div id="rptDetails"></div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        fnBackToIndex();
    });

    function fnBackToIndex() {
        $("#SearchFilterModel").val('');

        var tabUrl = null;

        tabUrl = '@Url.Action("Search", "GeneralLedger")';

        $('#rptDetails').empty();
        $('#rptDetails').load(tabUrl);
    }

    //// search data.
    function fnSearchData(searchFilterModel) {
        //fnBindDataTable();

       var tabUrl = null;

        tabUrl = '@Url.Action("Detail", "GeneralLedger")' + '?searchFilter=' + searchFilterModel;

        $("#SearchFilterModel").val(searchFilterModel);

        console.log(tabUrl);

        $("#Back").removeAttr('hidden');

        $('#rptDetails').empty();
        $('#rptDetails').load(tabUrl);
    }


</script>
