@model PaymentVoucherDetailModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Voucher Detail</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.PaymentVoucherId)
            @Html.HiddenFor(model => model.ParticularLedgerId)

            <div class="row">
                <div class="col-sm-12">
                    <table id="outstandingBillGrid" class="table table-bordered table-striped w-100">
                        <thead>
                            <tr class="table-header">
                                <th>Invoice Type</th>
                                <th>Invoice No</th>
                                <th>Invoice Date</th>
                                <th>Invoice Amount FC</th>
                                <th>Outstanding Amount FC</th>
                                <th>Amount FC</th>
                                <th>Narration</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Cancel">Cancel</button>
            <button class="btn btn-primary" type="button" id="save-outstanding-dtl" title="Save Outstanding">
                Save Outstanding
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$('.decimal-two-scale').autoNumeric('init', { vMin: '-999999999999999.99', vMax: '999999999999999.99' });

        // search data.

    $("#outstandingBillGrid").DataTable({
        "pageLength": 25,
        "paging": false,
        "ordering": false,
        "searching": false,
        "info": false,
            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-4'i><'col-sm-4 text-center'><'col-sm-4'p>>",
            "bPaginate": true,
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetOutstandingInvoiceList", "PaymentVoucherDetail")",
                "type": "POST",
                "datatype": "json",
                "data": {
                    ledgerId: $('.modal-body #ParticularLedgerId').val(),
                    paymentVoucherId: $('.modal-body #PaymentVoucherId').val()
                    }
                },
            "columns": [
                { "data": "InvoiceType", "name": "InvoiceType" },
                { "data": "InvoiceNo", "name": "InvoiceNo" },
                {
                    "data": "InvoiceDate", "name": "InvoiceDate",
                    "render": function (dt) {
                        return moment(dt).format("DD/MMM/YYYY");
                    }
                },
                { "data": "InvoiceAmount_FC", "name": "InvoiceAmount_FC", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { "data": "OutstandingAmount_FC", "name": "OutstandingAmount_FC", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                {
                    "data": "AmountFc", "title": "Amount FC", "width": "80px",

                    "render": function (data, type, row) {
                        return '<input class="form-control form-control-sm"  id="AmountFc" name="AmountFc" type="text"  value = ' + '' + '  >';
                    }
                },
                {
                    "data": "Narration", "title": "Narration",
                    "render": function (data, type, row) {
                        return '<input id="PurchaseInvoiceId" type="hidden" value="' + row.PurchaseInvoiceId + '">' +
                            '<input id="CreditNoteId" type="hidden" value="' + row.CreditNoteId + '">' +
                            '<input id="DebitNoteId" type="hidden" value="' + row.DebitNoteId + '">' +
                                '<input id="Narration" name="Narration" type="text" class="form-control form-control-sm" value = ' + '' + '  >';
                    }
                }
            ],
        });
    });

    ////account invoice dtl.
    $('#save-outstanding-dtl').click(function () {
        fnSaveOutstandingDetail();
    });


    // edit Outstanding detail.
    function fnSaveOutstandingDetail() {
       
        var paymentVoucherId = $('.modal-body #PaymentVoucherId').val();

        $('#outstandingBillGrid tbody tr').each(function () {

            alert($('.modal-body #PurchaseInvoiceId').val());

            var model = {
                paymentVoucherDetId: 0,
                paymentVoucherId: paymentVoucherId,
                particularLedgerId: $('.modal-body #ParticularLedgerId').val(),
                transactionTypeId: 2,
                purchaseInvoiceId: $('#PurchaseInvoiceId', this).val(),
                creditNoteId: $('#CreditNoteId', this).val(),
                debitNoteId: $('#DebitNoteId', this).val(),
                amountFc: $('#AmountFc', this).val(),
                narration: $('#Narration', this).val()
            };

            AjaxCommunication.CreateRequest(this.window, 'Post', '@Url.Action("SaveVoucherDetailOutstanding", "PaymentVoucherDetail")', '', model,

                function (response) {
                    if (true == response.Result.Status) {
                        console.log(response.Result.Data);
                    }
                    else {
                        console.log(response.Result.Data);
                    }
                }, null, true, null, false);

        });

        $('#modal-voucher').modal('hide');

        fnSuccessNotify('Record saved sucessfully.');

        $("#paymentVoucherDetailGrid").DataTable().ajax.reload();
        
    } 


</script>
