
<div class="row">
    <div class="col-sm-12">
        <table id="reportGrid" class="table table-bordered table-striped w-100">
            @*<thead>
                <tr class="table-header">

                <th>Debit Amount FC</th>
                <th>Debit Amount</th>
                <th>Closing Amount</th>
                </tr>
                </thead>*@
        </table>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        fnBindDataTable();
    });


    // search data.
    function fnBindDataTable() {

        var searchFilter = $("#SearchFilterModel").val();

        var jsonFilter = JSON.parse(searchFilter);

        var fileName = "Tax Report";

        var reportTitle = "Tax Report" + "(From - " + jsonFilter.FromDate + " To - " + jsonFilter.ToDate + ")" ;

        $("#reportGrid").DataTable({
            "destroy": true,
            "pageLength": 25,
            "paging": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "scrollX": true,
            //"dom": "<'row'<'col-sm-12'tr>>" +
            //    "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",
            //'lrtip',
            /*"serverSide": true,*/
            "dom":"Bfrtip",
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    titleAttr: 'Excel',
                    className: 'btn btn-default',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    filename: fileName,
                    title: reportTitle
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    titleAttr: 'PDF',
                    className: 'btn btn-default',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    filename: fileName,
                    title: reportTitle
                }
            ],
            "ajax": {
                "url": "@Url.Action("GetTransactionList", "TaxReport")",
                "type": "POST",
                "datatype": "json",
                "data": {
                    searchFilter: searchFilter
                },
            },
            "columns": [
                { "data": "DocumentType", "name": "DocumentType", "title":"Voucher Type" },
                { "data": "DocumentNo", "name": "DocumentNo", "title": "Voucher No" },
                {
                    "data": "DocumentDate", "name": "DocumentDate", "title": "Voucher Date",
                    "render": function (dt) {
                        if (Date.parse(dt)) {
                            return moment(dt).format("DD/MMM/YYYY");
                        }
                        else {
                            return "";
                        }
                    }
                },
                { "data": "PartyReferenceNo", "name": "PartyReferenceNo", "title": "Party Reference No"},
                //{ "data": "OurReferenceNo", "name": "OurReferenceNo", "title": "Other Reference No" },
                { "data": "CurrencyCode", "name": "CurrencyCode", "title": "Currency" },
                {
                    "data": "ExchangeRate", "name": "ExchangeRate", "title": "Exchange Rate", className: "dt-right dt-nowrap",
                    "render": function (data, type, full, meta) {
                        if (full.SequenceNo == 1 || full.SequenceNo == 3) {
                            return '';
                        }
                        else {
                            return addCommas(full.ExchangeRate);
                        }
                    }
                },
                {
                    "data": "CreditAmount_FC", "name": "CreditAmount_FC", "title": "Credit Amount FC", className: "dt-right dt-nowrap",
                    "render": function (data, type, full, meta) {
                        if (full.SequenceNo == 1 || full.SequenceNo == 3) {
                            return '';
                        }
                        else {
                            return addCommas(full.CreditAmount_FC);
                        }
                    }
                },
                {
                    "data": "CreditAmount", "name": "CreditAmount", "title": "Credit Amount", className: "dt-right dt-nowrap",
                    "render": function (data, type, full, meta) {
                        if (full.SequenceNo == 1 || full.SequenceNo == 3) {
                            return '<b>' + addCommas(full.CreditAmount) + '</b>';
                        }
                        else {
                            return addCommas(full.CreditAmount);
                        }
                    }
                },
                {
                    "data": "DebitAmount_FC", "name": "DebitAmount_FC", "title": "Debit Amount FC", className: "dt-right dt-nowrap",
                    "render": function (data, type, full, meta) {
                        if (full.SequenceNo == 1 || full.SequenceNo == 3) {
                            return '';
                        }
                        else {
                            return addCommas(full.DebitAmount_FC);
                        }
                    }
                },
                {
                    "data": "DebitAmount", "name": "DebitAmount", "title": "Debit Amount", className: "dt-right dt-nowrap",
                    "render": function (data, type, full, meta) {
                        if (full.SequenceNo == 1 || full.SequenceNo == 3) {
                            return '<b>' + addCommas(full.DebitAmount) + '</b>';
                        }
                        else {
                            return addCommas(full.DebitAmount);
                        }
                    }
                },
                //{
                //    "data": "ClosingAmount", "name": "ClosingAmount", "title": "Closing Amount", className: "dt-right dt-nowrap",
                //    "render": function (data, type, full, meta) {

                //        var drOrCr = '';

                //        if (full.ClosingAmount < 0) {
                //            drOrCr = ' DR';
                //        }
                //        else {
                //            drOrCr = ' CR';
                //        }

                //        if (full.SequenceNo == 1 || full.SequenceNo == 3) {
                //            return '<b>' + addCommas(Math.abs(full.ClosingAmount)) + drOrCr + '</b>';
                //        }
                //        else {
                //            return addCommas(Math.abs(full.ClosingAmount)) + drOrCr ;
                //        }
                //    }
                //},
            ],
        });


    }

</script>

