
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Master
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="Master" asp-controller="Company" asp-action="Index">Company</a>
            <a class="dropdown-item" asp-area="Master" asp-controller="Employee" asp-action="Index">Employee</a>
            <a class="dropdown-item" asp-area="Master" asp-controller="Country" asp-action="Index">Country</a>
            <a class="dropdown-item" asp-area="Master" asp-controller="State" asp-action="Index">State</a>
            <a class="dropdown-item" asp-area="Master" asp-controller="City" asp-action="Index">City</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="Account" asp-controller="Currency" asp-action="Index">Currency</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="CurrencyConversion" asp-action="Index">Currency Conversion</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="Ledger" asp-action="Index">Ledger</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="FinancialYear" asp-action="Index">Financial Year</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="TaxRegister" asp-action="Index">Tax Register</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="SalesInvoice" asp-action="Index">Sales Invoice</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="PurchaseInvoice" asp-action="Index">Purchase Invoice</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="CreditNote" asp-action="Index">Credit Note</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="DebitNote" asp-action="Index">Debit Note</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="PaymentVoucher" asp-action="Index">Payment Voucher</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="ReceiptVoucher" asp-action="Index">Receipt Voucher</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="JournalVoucher" asp-action="Index">Journal Voucher</a>
            <a class="dropdown-item" asp-area="Account" asp-controller="AdvanceAdjustment" asp-action="Index">Advance Adjustment</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Report
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="PayableStatementOfAccount" asp-action="Index">Payable Statement of Account</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="ReceivableStatementOfAccount" asp-action="Index">Receivable Statement of Account</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="BankStatement" asp-action="Index">Bank Statement</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="GeneralLedger" asp-action="Index">General Ledger</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="PurchaseRegister" asp-action="Index">Purchase Register</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="SalesRegister" asp-action="Index">Sales Register</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="PaymentRegister" asp-action="Index">Payment Register</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="ReceiptRegister" asp-action="Index">Receipt Register</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="TaxReport" asp-action="Index">Tax Report</a>
            <a class="dropdown-item" asp-area="AccountReport" asp-controller="BalanceSheet" asp-action="Index">Balance Sheet</a>
        </div>
    </li>


</ul>
