<!-- Sidebar Menu -->
@*<nav class="mt-2">*@

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Master
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-area="Master" asp-controller="Company" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Company</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Master" asp-controller="Employee" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Employee</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Master" asp-controller="Country" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Country</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Master" asp-controller="State" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>State</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Master" asp-controller="City" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>City</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Master" asp-controller="Form" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Form</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Master" asp-controller="Designation" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Designation</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Master" asp-controller="Department" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Department</p>
                </a>
            </li>
        </ul>
    </li>


    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Account
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="Currency" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Currency</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="CurrencyConversion" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Currency Conversion</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="Ledger" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ledger</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="FinancialYear" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Financial Year</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="TaxRegister" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Tax Register</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="SalesInvoice" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sales Invoice</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="PurchaseInvoice" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Purchase Invoice</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="CreditNote" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Credit Note</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="DebitNote" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Debit Note</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="PaymentVoucher" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Payment Voucher</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="ReceiptVoucher" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Receipt Voucher</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="JournalVoucher" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Journal Voucher</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Accounts" asp-controller="AdvanceAdjustment" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Advance Adjustment</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Report
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="PayableStatementOfAccount" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>
                        Payable Statement of Account
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="ReceivableStatementOfAccount" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p> Receivable Statement of Account</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="BankStatement" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Bank Statement</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="GeneralLedger" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>General Ledger</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="PurchaseRegister" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Purchase Register</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="SalesRegister" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p> Sales Register</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="PaymentRegister" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Payment Register</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="ReceiptRegister" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Receipt Register</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="TaxReport" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p> Tax Report</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="AccountReport" asp-controller="BalanceSheet" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Balance Sheet</p>
                </a>
            </li>
        </ul>

    </li>
</ul>

@*</nav>*@

@*<ul class="navbar-nav flex-grow-1">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Master
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="Master" asp-controller="Company" asp-action="Index">Company</a>
                <a class="dropdown-item" asp-area="Master" asp-controller="Employee" asp-action="Index">Employee</a>
                <a class="dropdown-item" asp-area="Master" asp-controller="Country" asp-action="Index">Country</a>
                <a class="dropdown-item" asp-area="Master" asp-controller="State" asp-action="Index">State</a>
                <a class="dropdown-item" asp-area="Master" asp-controller="City" asp-action="Index">City</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="Accounts" asp-controller="Currency" asp-action="Index">Currency</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="CurrencyConversion" asp-action="Index">Currency Conversion</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="Ledger" asp-action="Index">Ledger</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="FinancialYear" asp-action="Index">Financial Year</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="TaxRegister" asp-action="Index">Tax Register</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="SalesInvoice" asp-action="Index">Sales Invoice</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="PurchaseInvoice" asp-action="Index">Purchase Invoice</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="CreditNote" asp-action="Index">Credit Note</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="DebitNote" asp-action="Index">Debit Note</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="PaymentVoucher" asp-action="Index">Payment Voucher</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="ReceiptVoucher" asp-action="Index">Receipt Voucher</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="JournalVoucher" asp-action="Index">Journal Voucher</a>
                <a class="dropdown-item" asp-area="Accounts" asp-controller="AdvanceAdjustment" asp-action="Index">Advance Adjustment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Report
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="PayableStatementOfAccount" asp-action="Index">Payable Statement of Account</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="ReceivableStatementOfAccount" asp-action="Index">Receivable Statement of Account</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="BankStatement" asp-action="Index">Bank Statement</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="GeneralLedger" asp-action="Index">General Ledger</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="PurchaseRegister" asp-action="Index">Purchase Register</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="SalesRegister" asp-action="Index">Sales Register</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="PaymentRegister" asp-action="Index">Payment Register</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="ReceiptRegister" asp-action="Index">Receipt Register</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="TaxReport" asp-action="Index">Tax Report</a>
                <a class="dropdown-item" asp-area="AccountReport" asp-controller="BalanceSheet" asp-action="Index">Balance Sheet</a>
            </div>
        </li>


    </ul>*@
