<div class="modal fade" id="modalConfirmAdvanceAdjustmentDetail" role="dialog" data-backdrop="static" data-keyboard="true" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="close btn-default" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Back"><i class="fas fa-arrow-left"></i> Back</button>
                <button type="button" class="btn btn-danger" id="delete-advanceAdjustment-detail" title="Delete" ><i class="fas fa-trash-alt"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    // remove element button click.
    var _advanceAdjustmentDetId = null;
    function fnDeleteAdvanceAdjustmentDetail(element, advanceAdjustmentDetId) {
        _advanceAdjustmentDetId = advanceAdjustmentDetId;
        $(element).attr("data-target", "#modalConfirmAdvanceAdjustmentDetail");

        $('#modalConfirmAdvanceAdjustmentDetail').on('show.bs.modal', function (e) {
            // Pass form reference to modal for submission on yes/ok
            var form = $(e.relatedTarget).closest('form');
            $(this).find('.modal-footer #modalConfirmAdvanceAdjustmentDetail').data('form', form);
        });
    }

    // form confirm (yes/ok) handler, submits form
    $('#modalConfirmAdvanceAdjustmentDetail').find('.modal-footer #delete-advanceAdjustment-detail').on('click', function () {
        var model = { advanceAdjustmentDetId: _advanceAdjustmentDetId };
        AjaxCommunication.CreateRequest(this.window, 'Post', '@Url.Action("DeleteAdvanceAdjustmentDetail", "AdvanceAdjustmentDetail")', '', model,
        function (data) {
            if (data.Result.Status) {
                $('#modalConfirmAdvanceAdjustmentDetail').modal('hide');

                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                /*$('#advanceAdjustmentDetailGrid').DataTable().ajax.reload();*/

                fnSuccessNotify('Record deleted.');

                var tabUrl = '@Url.Action("AdvanceAdjustmentDetail", "AdvanceAdjustmentDetail")?advanceAdjustmentId=' + '@ViewBag.AdvanceAdjustmentId';

                console.log(tabUrl);
                
                $('#advanceadjustmentdetail').empty();
                $('#advanceadjustmentdetail').load(tabUrl);

                fnShowHideMasterButtons();

            }
            else {
                fnDangerNotify('Error occured while processing request.');
            }
        }, null, true, null, false);
    });

</script>
